<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
    <script src="./lib/vue.min.js"></script>
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>

                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name">
                </label>

                <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">

                <label>
                    搜索名称关键字：
                    <input type="text" class="form-control" v-model="keywords">
                </label>
            </div>
        </div>



        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前， v-for 中的数据，都是直接从 data 上的list中直接渲染过来的 -->
                <!-- 现在， 我们自定义了一个 search 方法，同时，把 所有的关键字，通过传参的形式，传递给了 search 方法 -->
                <!-- 在 search 方法内部，通过 执行 for 循环， 把所有符合 搜索关键字的数据，保存到 一个新数组中，返回 -->
                <tr v-for="item of search(keywords)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td v-text="item.name"></td>
                    <td>{{ item.ctime | dateformat() }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>

    </div>
    <script>
        Vue.filter('dateformat',(dateStr,pattern='')=>{
            //根据给定的时间字符串转换,dateStr是一个形参,可以换成时间的时间字符串
            var dt = new Date(dateStr)
            let y = dt.getFullYear()
            let m = dt.getMonth()+1 //得到的月份从0开始,所以要+1
            let d = dt.getDate()

            // return `${y}-${m}-${d} `
            if (pattern.toLowerCase()=='yy-mm-dd') {
                return `${y}-${m}-${d} `
            } else {
                let hh = dt.getHours()
                let mm = dt.getMinutes()
                let ss = dt.getSeconds()
                return `${y}-${m}-${d} ${hh}:${mm}:${ss} `
            }
        })
    


        var vm = new Vue({
            el: '#app',
            data: {
                id:'',
                name:'',
                keywords:'',
                list:[
                    {id:1,name:"宝马",ctime:new Date()},
                    {id:2,name:"奔驰",ctime:new Date()},
                ]

            },
            methods: {
                add() {
                    let car = {id:parseInt(this.id),name:this.name,ctime:new Date()}
                    this.list.push(car)
                    this.id = ''
                    this.name = ''
                }
                ,
                search(keywords){//根据关键字,进行数据的搜索
                    // var newlist = []
                    // this.list.forEach(item => {
                    //     if (item.name.indexOf(keywords)!= -1) {
                    //         newlist.push(item)
                    //     }
                        
                    // });
                    // return newlist

                 //注意: forEach some filter findIndex  这些都属于数组的新方法,
                 // 都会对数组中的每一项,进行遍历,执行相关的操作
                 return this.list.filter(item=>{

                     //注意: es6中,为字符串提供了一个新方法,叫做 String.prototype.includes('要包含的字符串')
                     //如果包含,则返回true, 否则返回false
                     if (item.name.includes(keywords)) {
                         return item
                     }
                 })   
                }
                ,
                del(id) {
                    //some()方法
                    this.list.some((item,index)=>{
                        if (item.id==id) {
                            this.list.splice(index,1)
                            return true
                        }
                    })

                    //原始for循环方法
                    // for (let index = 0; index < this.list.length; index++) {
                    //     let element = list[index]
                    //     if (element.id==id) {
                    //         this.list.splice(index,1)
                    //         break
                    //     }
                        
                    // }
                }
            },
        })
    </script>
</body>

</html>